# Created by .ignore support plugin (hsz.mobi)

# 프로젝트 제외 경로
/venv/
!/src/talentPlatform/
.idea/*
resources/
LINUX
Would skip repository src/nier/pydata-book
Would skip repository src/nier/Python_Basic4beginners
src/talentPlatform/tmp/TalentPlatform.py
src/talentPlatform/tmp/Test.py

# 다음과 같은 확장자는 전체 무시
*.pdf
*.pt
*.yaml
*.exe
*.csv
*.txt
*.json
*.log
*.png
*.jpg
*.gitkeep
__init__.py
*.zip
*.xlsx
*.xlsx
*.dat
*.xls
*.hwp
*.tsv
*.tfevents
*.ini
*.npy
*.h5
*.hf5
*.pptx
*.xlsx
*.docx
*.xlsx
*.py
*.mp4
*.docx
*.pptx
*.names
src/proj/topbds/2023/apt-rcmd/아파트매물추천서비스_서버실행설명서.docx
src/proj/topbds/2023/apt-rcmd/Simple Client 프로그램 사용매뉴얼_20230829.pptx
src/proj/topbds/2023/apt-rcmd/rcmdapt_REST-API명세서.xlsx
src/proj/topbds/2023/apt-rcmd/Simple Client 프로그램 사용매뉴얼_20230829.pptx
src/proj/topbds/2023/apt-rcmd/아파트매물추천서비스_서버실행설명서.docx
*.out
*.ini
*.ini
src/talentPlatform/testSys/LSH0279/desktop.ini
src/talentPlatform/testSys/testSys-LSH3270/checkpoints/train/checkpoint
src/talentPlatform/testSys/testSys-LSH3270/checkpoints/train/ckpt-1.data-00000-of-00001
src/talentPlatform/testSys/testSys-LSH3270/checkpoints/train/ckpt-1.index
src/talentPlatform/testSys/testSys-LSH3270/checkpoints/train/ckpt-2.data-00000-of-00001
src/talentPlatform/testSys/testSys-LSH3270/checkpoints/train/ckpt-2.index
*.ini
src/talentPlatform/testSys/LSH0279/desktop.ini
*.ini
*.ini
src/talentPlatform/testSys/LSH0279/desktop.ini
src/proj/bdwide/2021/에카디자인/eKoNLPy/
.idea/TalentPlatform-Python.iml
.idea/deployment.xml
