# Created by .ignore support plugin (hsz.mobi)

# 프로젝트 제외 경로
/venv/
!/src/talentPlatform/
.idea/*
resources/
LINUX
Would skip repository src/nier/pydata-book
Would skip repository src/nier/Python_Basic4beginners
src/talentPlatform/tmp/TalentPlatform.py
src/talentPlatform/tmp/Test.py

# 다음과 같은 확장자는 전체 무시
*.pdf
*.pt
*.yaml
*.exe
*.csv
*.txt
*.json
*.log
*.png
*.jpg
*.gitkeep
__init__.py


